* {
    margin: 0;
    padding: 0;
}

body {
    background: #aa1212;
    overflow: hidden;
    font-family: 'Itim'
    
    
    
}

.main {
    width: 60%;
    margin: 24% auto;
    position: relative;
   
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 3px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

#selector {
    height: 104px;
    width: 48px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.SelectBtn {
    height: 48px;
    width: 48px;
    background-image: url(icon.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

#SelectValue {
    width: 48px;
    height: 40px;
    position: absolute;
    top: 0;
    background-color: #ffd200;
    border-radius: 4px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
}

#SelectValue:after {
    content: '';
    border-top: 17px solid #ffd200;
    border-left: 24px solid #000;
    border-right: 24px solid #000;
    position: absolute;
    bottom: -14px;
    left: 0;
}

#ProgressBar {
    width: 50%;
    height: 7px;
    background: #ffd200;
    border-radius: 3px;
    position: absolute;
    top: 7px;
    left: 0;
}