
 :root {
  --bs-blue: #5e50f9;
  --bs-indigo: #6610f2;
  --bs-purple: #6a008a;
  --bs-pink: #e91e63;
  --bs-red: #f96868;
  --bs-orange: #f2a654;
  --bs-yellow: #f6e84e;
  --bs-green: #46c35f;
  --bs-teal: #58d8a3;
  --bs-cyan: #57c7d4;
  --bs-white: #ffffff;
  --bs-gray: #434a54;
  --bs-gray-light: #aab2bd;
  --bs-gray-lighter: #e8eff4;
  --bs-gray-lightest: #e6e9ed;
  --bs-gray-dark: #0f1531;
  --bs-black: #000000;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #464dee;
  --bs-secondary: #d8d8d8;
  --bs-success: #0ddbb9;
  --bs-info: #0ad7f7;
  --bs-warning: #fcd53b;
  --bs-danger: #ee5b5b;
  --bs-light: #d8d8d8;
  --bs-dark: #001737;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 108, 114, 147;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #6c7293;
  --bs-body-bg: #fff;
}
*,
::after,
::before {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
ul {
  padding-left: 2rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #0d6efd;
  text-decoration: underline;
}
a:hover {
  color: #0a58ca;
}
img,
svg {
  vertical-align: middle;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
tbody,
td,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  text-transform: none;
}
[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::file-selector-button {
  font: inherit;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: #eaeaf1;
  width: 100%;
  margin-bottom: 1rem;
  color: #6c7293;
  vertical-align: top;
  border-color: #f1f6f8;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}
.table > :not(:first-child) {
  border-top: 2px solid currentColor;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.dropdown {
  position: relative;
}
.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:focus,
.nav-link:hover {
  color: #0a58ca;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  border-radius: 6px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.card-title {
  margin-bottom: 0.5rem;
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
  display: block !important;
}
.d-flex,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav {
  display: flex !important;
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav {
  flex-direction: row !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-center,
.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav {
  align-items: center !important;
}
.p-0 {
  padding: 0 !important;
}
.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
.text-center {
  text-align: center !important;
}
@media (min-width: 992px) {
  .d-lg-flex {
    display: flex !important;
  }
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
a,
div,
h4,
span {
  text-shadow: none;
}
[type="button"]:focus,
a:active,
a:focus,
a:visited,
button::-moz-focus-inner {
  outline: 0;
}
button:focus,
input,
input:focus {
  outline: 0;
  outline-width: 0;
  outline-color: transparent;
  box-shadow: none;
  outline-style: none;
}
.btn,
.btn:active,
.btn:focus,
.btn:hover,
.btn:visited,
a,
a:active,
a:checked,
a:focus,
a:hover,
a:visited,
body,
button,
button:active,
button:hover,
button:visited,
div,
input,
input:active,
input:focus,
input:hover,
input:visited {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn:active:focus,
.btn:focus,
button,
button:active,
button:checked,
button:focus,
button:hover,
button:visited {
  outline: 0;
  outline-offset: 0;
}
a:focus,
input:focus {
  border-color: transparent;
  outline: 0;
}

body {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: initial;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}
h4 {
  font-weight: 500;
  line-height: 1;
}
h4 {
  font-size: 1.125rem;
}
body,
html {
  overflow-x: hidden;
  padding-right: 0 !important;
}
:-moz-full-screen,
:-webkit-full-screen,
:fullscreen :-ms-fullscreen {
  overflow: auto;
}
.container-scroller {
  overflow: hidden;
  background-color: #e5e9f3;
}
.grid-margin {
  margin-bottom: 1.875rem;
}
.stretch-card {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
}
.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}
.btn {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 600;
  border-radius: 0.25rem;
}
.card {
  box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
  -webkit-box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
  -moz-box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
  -ms-box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
  border-radius: 6px;
  border: none;
}
.card .card-body {
  padding: 1.875rem 1.875rem;
}
@media (max-width: 991px) {
  .card .card-body {
    padding: 1.5rem;
  }
}
.card .card-title {
  text-align: center;
  color: #001737;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 700;
}
ul {
  padding-left: 1rem;
  font-size: 1rem;
}
ul li {
  line-height: 1.8;
}
.table {
  margin-bottom: 0;
}
.table thead th {
  border-top: 0;
  border-bottom-width: 1px;
  font-weight: 500;
  font-size: 1rem;
}
.table td,
.table th {
  vertical-align: middle;
  line-height: 1;
}
.table td {
  font-size: 1rem;
  font-weight: 600;
  vertical-align: middle !important;
}
.table td img {
  width: 170px;
  height: 110px;
  border-radius: 4px;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #f1f6f8;
}
.table > :not(:first-child) {
  border-top: none;
}
.page-body-wrapper {
  padding-left: 0;
  padding-right: 0;
  min-height: calc(100vh - 56px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.main-panel {
  background: #f0f3f6;
  width: 100%;
  transition: width 0.25s ease, margin 0.25s ease;
  min-height: calc(100vh - 56px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.content-wrapper {
  padding: 1.5rem 0;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  min-height: calc(100vh - 156px - 75px);
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background-color: #f9f9f9;
}
.horizontal-menu .top-navbar {
  font-weight: 400;
  background: #000 !important;
}
.horizontal-menu .top-navbar .navbar-brand-wrapper {
  width: auto;
  height: 78px;
}
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand {
  color: #27367f;
  font-size: 1.5rem;
  line-height: 48px;
  margin-right: 0;
  padding: 0.25rem 0;
  text-align: left;
  margin-top: 30px;
}
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand:active,
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand:focus,
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand:hover {
  color: #1b2658;
}
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand img {
  max-width: 100%;
  height: 64px;
  margin: auto;
  vertical-align: middle;
}
@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand img {
    height: 54px;
  }
}
@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand {
    width: 170px;
  }
}
.horizontal-menu .top-navbar .navbar-menu-wrapper {
  color: #d8d8d8;
  width: auto;
  height: 78px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper {
    width: calc(100% - 55px);
    padding-left: 15px;
    padding-right: 15px;
  }
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
    position: static;
  }
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item:last-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 20px;
  }
}
.horizontal-menu .bottom-navbar {
  background: #e5e9f3;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 767.98px) {
  .horizontal-menu .bottom-navbar .page-navigation {
    position: relative;
    width: 100%;
    z-index: 99;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: #444;
    padding: 0 !important;
  }
}
.horizontal-menu .bottom-navbar .page-navigation {
  position: relative;
  width: 100%;
  z-index: 99;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-color: #444;
  padding: 0 5rem;
}
@media (min-width: 992px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:last-child > .nav-link {
    padding-right: 0;
  }
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
  color: #fff;
  padding: 17px 32px !important;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-title {
  font-size: 0.937rem;
  font-weight: 600;
  display: block;
}
@media (max-width: 1024px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
    padding: 10px !important;
  }
}
@media (min-width: 768px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:hover > .nav-link {
    background: 0 0;
  }
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:hover > .nav-link .menu-title {
    color: #ffffff;
    transition: color 1s ease;
  }
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item:not(.mega-menu) {
  position: relative;
}
@media (max-width: 991px) {
  .horizontal-menu {
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
  }
}
.svg-icon {
  width: 3em;
  height: 3em;
}
.svg-icon path {
  fill: #fff;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
  background-color: #fff3d0;
}
.btn-lights {    
  padding: 5px 15px;
  background-color: #fce43a;
  color: #000;
  border-radius: 1px;
  font-size: 16px;
  transition: all 0.4s;
  margin-right: 8px;
  line-height: 24px;
}
.btn-lights:hover {
  color: #fce43a;
  background-color: #000;
  transition: all 0.4s;
  border: 1px solid #fff;
}
.table thead th {
  font-weight: 500;
  font-size: 1rem;
  color: #000;
  font-weight: 600;
}
.slidecontainer {
  width: 100%;
  padding: 8px 0;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #fce43a;
  outline: 0;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #000;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #000;
  cursor: pointer;
}
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
#videoTab{
  height: 100%;
  padding-top: 25px;
  box-sizing: border-box;
  font-size: 8;
  display: none;
  width: 100%;
  margin-left: 0px !important;
}
#snapTab{
  height: 100%;

  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
  display: none;
}#sensorTab{
  height: 100%;
  
  text-align: center;
  padding-top: 105px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 22px;
  display: block;
 
}
.tab button.active {
  background-color: #000000;
}
.modal-body {
  position:relative;
  padding:0px;
  

}
#camVideo {
  width: 100% !important;
  height: 50% !important;
}
#overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lawngreen;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity:0.5;
  opacity: 0.5;
  z-index: 10000;

}
.modal-dialog{
  position: fixed;
  top: 26% !important;
  padding: 10px;
  height: 1000vh;
  width: 80%;
  left: 30% !important;
}
#modalStyle {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1pxsolidrgba(0,0,0,.2);
  border-radius: 0.3rem;
  outline: 0;
  margin-top: 61%;
}
#checkboxButton{
  margin-left: 10% !important;
  background-color: #fff3d0;
  width: 25%;
  display: none;
  
}

#listCheck{
  background-color: rgb(198, 222, 228);
  width: 20px !important;
  height: 20px !important;
  margin-left: -3px;
  margin-top: 30px;
  margin-right: 4px;
  display: inline;
  display: none;
}
.myCheckbox{
  display: inline;
}



.snapCheckbox{
  display: inline;

  margin-right: 80%;
}
#snapCheck{
  background-color: rgb(198, 222, 228);
  width: 20px !important;
  height: 20px !important;
  margin-left: 9px;
  margin-top: 30px;
  margin-right: 13px;
  display: inline;
  display: none;
}



.snapcheckboxButton{
  margin-left: 10% !important;
  background-color: #fff3d0;
  width: 25%;
  display: none;
  
}









.recordingMarker {
  color: #fff;
  padding: 0 22px;
  font-size: 14px;
  margin-top: 14px;
}

.activity {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

}
.blink {
  font-size: 24px;
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
  
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}






#icon{
  color: red;
  font-size: 24px;
 
}

#dataTable{
  color: #000;
  background-color:#fff3d0;
}

.d-flex {
  
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.d-flexx {
  
  display: flex;
}

.checkboxButton  {
  margin-left: 1rem;
}
.ml-2 {
margin-left: 10px;
}









   

#time{
  margin-left: 20px;
  display: block;
}
#stopButton{
  display: none;
}

#snapLoader{
  display: none;
}


#recTimerMaker{
  display: none;
}





.base-timer {
  position: relative;
  /* width: 300px;
  height: 300px; */
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  /* position: absolute; */
  /* width: 300px;
  height: 300px; */
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
  margin-right: 14px;
}
#app{
  width: 30%;
}
#dataLoader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 11px solid #3498db;
  width: 120px;
  height: 120px;
  margin-left: 50%;
  margin-top: 64px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#filter{
  display: block;
}


#startDate{
   background-color:#e7d291 ;
   /* background-color: #bcbbbb;
   color: #fff; */
}
#endDate{
   background-color:#e7d291 ;
   /* background-color: #bcbbbb;
   color: #fff; */
}


#videoStartDate{
   background-color:#e7d291 ;
   /* background-color: #bcbbbb;
   color: #fff; */
}
#videoEndDate{
   background-color:#e7d291 ;
   /* background-color: #bcbbbb;
   color: #fff; */
}
/* #filtertable{
  /* background-color: #696b72; */
} */



/*
	/*Fan Filter Search
*/

.fan-filter {
	margin-bottom: 1rem;
	text-align: center;
	background: #fcfcfc;
	padding: 1rem;
	padding-bottom: 2rem;
	border: 1px solid #e3e3e3;
	border-top: none;
}

.fan-filter-item { 
	display: inline-block;
	max-width: 450px;
	text-align: left;
	vertical-align: bottom;
	position: relative;
	margin-bottom: 5px;
}

.fan-filter-item label {
	font-size: 13px;
	margin: 0;
	font-weight: 500;
}

.fan-filter-item .form-control {
	border-radius: 0;
	border: none;
	background-color: #f2f2f2;
	height: 42px;
	padding: 0 20px;
	padding-right: 80px;
	background-color: #E0F4F5;
	line-height: 42px;
}

.fan-filter-item .fa-calendar {
	position: absolute;
	right: 14px;
	bottom: 10px;
	font-size: 13px;
	color: #229cad;
	pointer-events: none;
	top: 39px;
}

.fan-filter-item .btn {
	border-radius: 2px;
	font-size: 0.9em;
	height: 42px;
	margin: 0;
	margin-left: 2rem;
	padding: 0 100px;
}

 .btn-success {
  background-color: #fce43a !important;
  color: #000000;
 }


 .enable-checkbox {
  display: block;
  position: relative;
  padding: 10px;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 250px;
}

.enable-checkbox.bordered {
 border: 1px dashed rgba(0, 0, 0, 0.125);
 color: #000;
}

.enable-checkbox:hover input ~ .checkmark {
 background-color: #ccc;
}
.enable-checkbox input:checked ~ .checkmark {
 background-color: #000;
 border-color: #229cad;
}
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}
.enable-checkbox input:checked ~ .checkmark:after {
 display: block;
}
.enable-checkbox .checkmark:after {
 left: 6px;
 top: 2px;
 width: 5px;
 height: 10px;
 border: solid white;
 border-width: 0 2px 2px 0;
 transform: rotate(45deg);
}

.enable-checkbox input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}
.checkmark {
 position: absolute;
 top: 12px;
 left: 10px;
 height: 18px;
 width: 18px;
 border: 1px solid rgba(0, 0, 0, 0.125);
 background-color: #f8f8f8;
}
 :root {
  --bs-blue: #5e50f9;
  --bs-indigo: #6610f2;
  --bs-purple: #6a008a;
  --bs-pink: #e91e63;
  --bs-red: #f96868;
  --bs-orange: #f2a654;
  --bs-yellow: #f6e84e;
  --bs-green: #46c35f;
  --bs-teal: #58d8a3;
  --bs-cyan: #57c7d4;
  --bs-white: #ffffff;
  --bs-gray: #434a54;
  --bs-gray-light: #aab2bd;
  --bs-gray-lighter: #e8eff4;
  --bs-gray-lightest: #e6e9ed;
  --bs-gray-dark: #0f1531;
  --bs-black: #000000;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #464dee;
  --bs-secondary: #d8d8d8;
  --bs-success: #0ddbb9;
  --bs-info: #0ad7f7;
  --bs-warning: #fcd53b;
  --bs-danger: #ee5b5b;
  --bs-light: #d8d8d8;
  --bs-dark: #001737;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 108, 114, 147;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #6c7293;
  --bs-body-bg: #fff;
}
*,
::after,
::before {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
ul {
  padding-left: 2rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #0d6efd;
  text-decoration: underline;
}
a:hover {
  color: #0a58ca;
}
img,
svg {
  vertical-align: middle;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
tbody,
td,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  text-transform: none;
}
[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::file-selector-button {
  font: inherit;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: #eaeaf1;
  width: 100%;
  margin-bottom: 1rem;
  color: #6c7293;
  vertical-align: top;
  border-color: #f1f6f8;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}
.table > :not(:first-child) {
  border-top: 2px solid currentColor;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.dropdown {
  position: relative;
}
.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:focus,
.nav-link:hover {
  color: #0a58ca;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  border-radius: 6px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.card-title {
  margin-bottom: 0.5rem;
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
  display: block !important;
}
.d-flex,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav {
  display: flex !important;
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav {
  flex-direction: row !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-center,
.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav {
  align-items: center !important;
}
.p-0 {
  padding: 0 !important;
}
.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
.text-center {
  text-align: center !important;
}
@media (min-width: 992px) {
  .d-lg-flex {
    display: flex !important;
  }
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
a,
div,
h4,
span {
  text-shadow: none;
}
[type="button"]:focus,
a:active,
a:focus,
a:visited,
button::-moz-focus-inner {
  outline: 0;
}
button:focus,
input,
input:focus {
  outline: 0;
  outline-width: 0;
  outline-color: transparent;
  box-shadow: none;
  outline-style: none;
}
.btn,
.btn:active,
.btn:focus,
.btn:hover,
.btn:visited,
a,
a:active,
a:checked,
a:focus,
a:hover,
a:visited,
body,
button,
button:active,
button:hover,
button:visited,
div,
input,
input:active,
input:focus,
input:hover,
input:visited {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn:active:focus,
.btn:focus,
button,
button:active,
button:checked,
button:focus,
button:hover,
button:visited {
  outline: 0;
  outline-offset: 0;
}
a:focus,
input:focus {
  border-color: transparent;
  outline: 0;
}

body {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: initial;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}
h4 {
  font-weight: 500;
  line-height: 1;
}
h4 {
  font-size: 1.125rem;
}
body,
html {
  overflow-x: hidden;
  padding-right: 0 !important;
}
:-moz-full-screen,
:-webkit-full-screen,
:fullscreen :-ms-fullscreen {
  overflow: auto;
}
.container-scroller {
  overflow: hidden;
  background-color: #e5e9f3;
}
.grid-margin {
  margin-bottom: 1.875rem;
}
.stretch-card {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
}
.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}
.btn {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 600;
  border-radius: 0.25rem;
}
.card {
  box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
  -webkit-box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
  -moz-box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
  -ms-box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
  border-radius: 6px;
  border: none;
}
.card .card-body {
  padding: 1.875rem 1.875rem;
}
@media (max-width: 991px) {
  .card .card-body {
    padding: 1.5rem;
  }
}
.card .card-title {
  text-align: center;
  color: #001737;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 700;
}
ul {
  padding-left: 1rem;
  font-size: 1rem;
}
ul li {
  line-height: 1.8;
}
.table {
  margin-bottom: 0;
}
.table thead th {
  border-top: 0;
  border-bottom-width: 1px;
  font-weight: 500;
  font-size: 1rem;
}
.table td,
.table th {
  vertical-align: middle;
  line-height: 1;
}
.table td {
  font-size: 1rem;
  font-weight: 600;
  vertical-align: middle !important;
}
.table td img {
  width: 170px;
  height: 110px;
  border-radius: 4px;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #f1f6f8;
}
.table > :not(:first-child) {
  border-top: none;
}
.page-body-wrapper {
  padding-left: 0;
  padding-right: 0;
  min-height: calc(100vh - 56px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.main-panel {
  background: #f0f3f6;
  width: 100%;
  transition: width 0.25s ease, margin 0.25s ease;
  min-height: calc(100vh - 56px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.content-wrapper {
  padding: 1.5rem 0;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  min-height: calc(100vh - 156px - 75px);
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background-color: #f9f9f9;
}
.horizontal-menu .top-navbar {
  font-weight: 400;
  background: #000 !important;
}
.horizontal-menu .top-navbar .navbar-brand-wrapper {
  width: auto;
  height: 78px;
}
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand {
  color: #27367f;
  font-size: 1.5rem;
  line-height: 48px;
  margin-right: 0;
  padding: 0.25rem 0;
  text-align: left;
  margin-top: 30px;
}
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand:active,
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand:focus,
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand:hover {
  color: #1b2658;
}
.horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand img {
  max-width: 100%;
  height: 64px;
  margin: auto;
  vertical-align: middle;
}
@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand img {
    height: 54px;
  }
}
@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand {
    width: 170px;
  }
}
.horizontal-menu .top-navbar .navbar-menu-wrapper {
  color: #d8d8d8;
  width: auto;
  height: 78px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper {
    width: calc(100% - 55px);
    padding-left: 15px;
    padding-right: 15px;
  }
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
    position: static;
  }
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item:last-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 20px;
  }
}
.horizontal-menu .bottom-navbar {
  background: #e5e9f3;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 767.98px) {
  .horizontal-menu .bottom-navbar .page-navigation {
    position: relative;
    width: 100%;
    z-index: 99;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: #444;
    padding: 0 !important;
  }
}
.horizontal-menu .bottom-navbar .page-navigation {
  position: relative;
  width: 100%;
  z-index: 99;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-color: #444;
  padding: 0 5rem;
}
@media (min-width: 992px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:last-child > .nav-link {
    padding-right: 0;
  }
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
  color: #fff;
  padding: 17px 32px !important;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-title {
  font-size: 0.937rem;
  font-weight: 600;
  display: block;
}
@media (max-width: 1024px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
    padding: 10px !important;
  }
}
@media (min-width: 768px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:hover > .nav-link {
    background: 0 0;
  }
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:hover > .nav-link .menu-title {
    color: #ffffff;
    transition: color 1s ease;
  }
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item:not(.mega-menu) {
  position: relative;
}
@media (max-width: 991px) {
  .horizontal-menu {
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
  }
}
.svg-icon {
  width: 3em;
  height: 3em;
}
.svg-icon path {
  fill: #fff;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
  background-color: #fff3d0;
}
.btn-lights {
  padding: 5px 15px;
  background-color: #fce43a;
  color: #000;
  border-radius: 1px;
  font-size: 16px;
  transition: all 0.4s;
  margin-right: 8px;
  line-height: 24px;
}
.btn-lights:hover {
  color: #fce43a;
  background-color: #000;
  transition: all 0.4s;
  border: 1px solid #fff;
}
.table thead th {
  font-weight: 500;
  font-size: 1rem;
  color: #000;
  font-weight: 600;
}
.slidecontainer {
  width: 100%;
  padding: 8px 0;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #fce43a;
  outline: 0;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #000;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #000;
  cursor: pointer;
}
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
#videoTab{
  height: 100%;
  padding-top: 25px;
  box-sizing: border-box;
  font-size: 8;
  display: none;
  width: 100%;
  margin-left: 0px !important;
}
#snapTab{
  height: 100%;

  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
  display: none;
}#sensorTab{
  height: 100%;
  
  text-align: center;
  padding-top: 105px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 22px;
  display: block;
 
}
.tab button.active {
  background-color: #000000;
}
.modal-body {
  position:relative;
  padding:0px;
  

}
#camVideo {
  width: 100% !important;
  height: 50% !important;
}
#overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lawngreen;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity:0.5;
  opacity: 0.5;
  z-index: 10000;

}
.modal-dialog{
  position: fixed;
  top: 26% !important;
  padding: 10px;
  height: 1000vh;
  width: 80%;
  left: 30% !important;
}
#modalStyle {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1pxsolidrgba(0,0,0,.2);
  border-radius: 0.3rem;
  outline: 0;
  margin-top: 61%;
}
#checkboxButton{
  margin-left: 10% !important;
  background-color: #fff3d0;
  width: 25%;
  display: none;
  
}

#listCheck{
  background-color: rgb(198, 222, 228);
  width: 20px !important;
  height: 20px !important;
  margin-left: -3px;
  margin-top: 30px;
  margin-right: 4px;
  display: inline;
  display: none;
}
.myCheckbox{
  display: inline;
}



.snapCheckbox{
  display: inline;

  margin-right: 80%;
}
#snapCheck{
  background-color: rgb(198, 222, 228);
  width: 20px !important;
  height: 20px !important;
  margin-left: 9px;
  margin-top: 30px;
  margin-right: 13px;
  display: inline;
  display: none;
}



.snapcheckboxButton{
  margin-left: 10% !important;
  background-color: #fff3d0;
  width: 25%;
  display: none;
  
}









.recordingMarker {
  color: #fff;
  padding: 0 22px;
  font-size: 14px;
  margin-top: 14px;
}

.activity {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

}
.blink {
  font-size: 24px;
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
  
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}






#icon{
  color: red;
  font-size: 24px;
 
}

#dataTable{
  color: #000;
  background-color:#fff3d0;
}

.d-flex {
  
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.d-flexx {
  
  display: flex;
}

.checkboxButton  {
  margin-left: 1rem;
}
.ml-2 {
margin-left: 10px;
}









   

#time{
  margin-left: 20px;
  display: block;
}
#stopButton{
  display: none;
}

#snapLoader{
  display: none;
}


#recTimerMaker{
  display: none;
}





.base-timer {
  position: relative;
  /* width: 300px;
  height: 300px; */
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  /* position: absolute; */
  /* width: 300px;
  height: 300px; */
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
  margin-right: 14px;
}
#app{
  width: 30%;
}
#dataLoader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 11px solid #3498db;
  width: 120px;
  height: 120px;
  margin-left: 50%;
  margin-top: 64px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#filter{
  display: block;
}


#startDate{
   background-color:#e7d291 ;
   /* background-color: #bcbbbb;
   color: #fff; */
}
#endDate{
   background-color:#e7d291 ;
   /* background-color: #bcbbbb;
   color: #fff; */
}


#videoStartDate{
   background-color:#e7d291 ;
   /* background-color: #bcbbbb;
   color: #fff; */
}
#videoEndDate{
   background-color:#e7d291 ;
   /* background-color: #bcbbbb;
   color: #fff; */
}
/* #filtertable{
  /* background-color: #696b72; */
} */



/*
	/*Fan Filter Search
*/

.fan-filter {
	margin-bottom: 1rem;
	text-align: center;
	background: #fcfcfc;
	padding: 1rem;
	padding-bottom: 2rem;
	border: 1px solid #e3e3e3;
	border-top: none;
}

.fan-filter-item { 
	display: inline-block;
	max-width: 450px;
	text-align: left;
	vertical-align: bottom;
	position: relative;
	margin-bottom: 5px;
}

.fan-filter-item label {
	font-size: 13px;
	margin: 0;
	font-weight: 500;
}

.fan-filter-item .form-control {
	border-radius: 0;
	border: none;
	background-color: #f2f2f2;
	height: 42px;
	padding: 0 20px;
	padding-right: 80px;
	background-color: #E0F4F5;
	line-height: 42px;
}

.fan-filter-item .fa-calendar {
	position: absolute;
	right: 14px;
	bottom: 10px;
	font-size: 13px;
	color: #229cad;
	pointer-events: none;
	top: 39px;
}

.fan-filter-item .btn {
	border-radius: 2px;
	font-size: 0.9em;
	height: 42px;
	margin: 0;
	margin-left: 2rem;
	padding: 0 100px;
}

 .btn-success {
  background-color: #fce43a !important;
  color: #000000;
 }


 .enable-checkbox {
  display: block;
  position: relative;
  padding: 10px;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 250px;
}

.enable-checkbox.bordered {
 border: 1px dashed rgba(0, 0, 0, 0.125);
 color: #000;
}

.enable-checkbox:hover input ~ .checkmark {
 background-color: #ccc;
}
.enable-checkbox input:checked ~ .checkmark {
 background-color: #000;
 border-color: #229cad;
}
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}
.enable-checkbox input:checked ~ .checkmark:after {
 display: block;
}
.enable-checkbox .checkmark:after {
 left: 6px;
 top: 2px;
 width: 5px;
 height: 10px;
 border: solid white;
 border-width: 0 2px 2px 0;
 transform: rotate(45deg);
}

.enable-checkbox input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}
.checkmark {
 position: absolute;
 top: 12px;
 left: 10px;
 height: 18px;
 width: 18px;
 border: 1px solid rgba(0, 0, 0, 0.125);
 background-color: #f8f8f8;
}