body {

  margin-left: 5px;
  background-color:#BCBBBB;
  font-size: roboto;
 
 }
 #main{
   width: auto !important;
   height: 100% !important;
 }
 
 
 .tabContainer{
   height: 350px;
 
 }
 .tabContainer .buttonContainer{
   height: 15%;
   text-align: center;
   margin-left: 20%;
 
 }
 .tabContainer .buttonContainer button{
  width: 13%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #FBBC05;
 }
 .tabContainer .buttonContainer button:hover{
   background-color: #d7d7d7;
 }
 .tabContainer #sensorTab{
   height: 100%;
   
   text-align: center;
   padding-top: 105px;
   box-sizing: border-box;
   font-family: sans-serif;
   font-size: 22px;
   display: none;
  
 }
 .tabContainer #videoTab{
   height: 100%;
   padding-top: 105px;
   box-sizing: border-box;
   font-size: 8;
   display: none;
   width: 100%;
   margin-left: 0px !important;
 }
 .tabContainer #snapTab{
   height: 100%;
 
   text-align: center;
   padding-top: 105px;
   box-sizing: border-box;
   display: none;
 }
 #data{
   background-color: #BCBBBB;
             padding: 1rem;
             margin-bottom: 1rem;
             width: 100%;
             margin-left: 130px;
 }
 #btdiv{
   position: absolute;
 }
 #target{
   margin-top: 50px;
   margin-left: 15%;
   width: 50%;
 }


 .user-wrapper {
  position: relative;
  transition: all 0.25s;
  padding-left: 130px;
  padding-right: 130px;
}

.content {
  margin: 0rem 20rem;
  background-color: #555555;
}
.items-cintainer {
  margin-bottom: 2rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}

.thumbnail {
  display: inline-block;
  width: 130px;
  height: 101px;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.thumbnail img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
  width: 180px;
  height: 160px;
    -o-object-fit: cover;
    object-fit: cover;
}

.description {
  display: inline-block;
  width: 40rem;
  padding-left: 15px;
  vertical-align: middle;
}

.description span {
  color: #000000;
  font-size: 18px;
  display: inline-block;
  margin-right: 2rem;
}


.btn-light {
  padding: 6px 17px;
  background-color: #000;
  color: #fff;
}

.mt-2 {
  margin-top: 2rem;

  margin-top: 32px;
}
.mb-2{
  display: flex;
}
#boxdiv{
display: flex !important;
}
.mt-1 {
  display: flex;
}
.btns {
  margin-top: 32px;
}

.modal-dialog {
  max-width: 1000px;
 
}

.modal-body {
  position:relative;
  padding:0px;
}
#video{
  width: 100% !important;
  height: 40vh !important;
}
