button {
  background: none;
  background-color: white;
 font-weight: bolder;
  border: 3px solid #FBBC05;
  }
 
 slider{
background-color: gray;

}
sliderrunnabletrack{
    color: brown;
}
slidertrack{
    background-color: black;
}
scale{
    color: rgb(0, 81, 255);
}
bar{
    color: crimson;
} 
scaletrack{
    color: rgb(0, 255, 42);
}
GtkScale{
    background-color: blanchedalmond;
    color: rgb(212, 0, 255);
}
Sensitive{
    color: aqua;
    background-color: darkgreen;
}
scrollbar{
    color: lightskyblue;
}
#closeButton {
    background-color: black;
  }
  #archiveButton {
    background-color: red;
  }
  #copyButton {
    background-color: gold;
  }
 